@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OrderItemViewModel
@{
    string title = Model.CurrentOrder.FullName + "'s order";
    ViewBag.Title = title;
}

<h1>@title</h1>



<form asp-action="Pull" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CurrentOrder.LocationId" class="form-control">Location of Completed Order</label>
        <select asp-for="CurrentOrder.LocationId" class="form-control" asp-items="@(new SelectList(Model.Locations, "LocationId", "Name"))">
            <option value=""></option>
        </select>
    </div>
    <input type="hidden" asp-for="CurrentOrder.OrderItemId" />
    <input type="hidden" asp-for="CurrentOrder.StatusId" value="ready" />

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>